{%- if label ~%}
<label for="phone" class="{% if required %}form-required{% endif %}">{{ label }}</label>
{%- endif ~%}
<textarea name="textarea" rows="5" cols="60" class="form-textarea {{ classes }}" placeholder="{{ placeholder }}"{% for attr in attrs %} {{ attr }}{% endfor %}>{{ value }}</textarea>
