{% autoescape false %}
<div class="dy-carousel-wrapper dy-carousel-2-0">
  <div class="inner">
    <div class="head">
      <h1>轮播标题</h1>
      <a href="javascript:void(0);">
        <i class="icon icon-arrow-right"></i>
      </a>
    </div>
    <div class="dy-carousel {{ class }}" data-slick='{{ options }}'>
      {%- for item in items | default([
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg',
          class: 'carousel-item w-2x',
          title: 'Drupal开发专家，让您的应用快速落地',
          time: '2019-09-08'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg',
          class: 'carousel-item',
          title: 'Drupal开发专家，让您的应用快速落地',
          time: '2019-09-08'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg',
          class: 'carousel-item',
          title: 'Drupal开发专家，让您的应用快速落地',
          time: '2019-09-08'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg',
          class: 'carousel-item',
          title: 'Drupal开发专家，让您的应用快速落地',
          time: '2019-09-08'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg',
          class: 'carousel-item',
          title: 'Drupal开发专家，让您的应用快速落地',
          time: '2019-09-08'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg',
          class: 'carousel-item',
          title: 'Drupal开发专家，让您的应用快速落地',
          time: '2019-09-08'
        },
      ]) ~%}
      <div class="{{ item.class }}">
        <div class="item-container">
          <div class="img bg-center" style="background-image: url({{ item.media }})"></div>
          <div class="text">
            <h3><a href="javascript:void(0);">{{ item.title }}</a></h3>
            <div class="time">{{ item.time }}</div>
          </div>
        </div>
      </div>
      {%- endfor ~%}
    </div>
  </div>
</div>
{% endautoescape %}
