{% autoescape false %}
<div class="dy-carousel dy-carouse-1-1 {{ class }}" data-slick='{{ options }}'>
  {%- for item in items | default([
    {
      media: base_path~'themes/custom/dyniva_ui/templates/ui/images/slide/slide-01.jpg',
      class: 'carousel-item',
      title: 'Drupal开发专家，让您的应用快速落地',
      desc: '协助您驾驭Drupal的优势，管理数以百计的校园网站。'
    },
    {
      media: base_path~'themes/custom/dyniva_ui/templates/ui/images/slide/slide-02.jpg',
      class: 'carousel-item',
      title: 'Drupal开发专家，让您的应用快速落地',
      desc: '促成学术创新，无纸化的培训管理。'
    },
    {
      media: base_path~'themes/custom/dyniva_ui/templates/ui/images/slide/slide-03.jpg',
      class: 'carousel-item',
      title: 'Drupal开发专家，让您的应用快速落地',
      desc: '连接线上和线下，节约管理成本，提升培训效率。'
    }
  ]) ~%}
  <div class="{{ item.class }}" style="background-image:url({{ item.media }})">
    <div class="carousel-inner">
      <div class="carousel-wrapper">
        <h2 class="carousel-title h4 text-white">{{ item.title }}</h2>
        <div class="carousel-body">{{ item.desc }}</div>
      </div>
    </div>
  </div>
  {%- endfor ~%}
</div>
{% endautoescape %}
