
<div class="dy-showcase-3-0 dy-showcase-wrapper">
  <div class="inner">
    <div class="showcase-body row">
      {% for item in items | default([
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        },
        {
          media: base_path~'themes/custom/dyniva_ui/templates/ui/images/media/showcase3-0.png',
          name: 'XXX',
          posts: ['职位1','职位2','职位3'],
          phone: '19999999999',
          more: '相关文章'
        }
      ]) %}
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="showcase-item box-shadow">
          <div class="showcase-media">
            <img class="img-l" src="{{ item.media }}"/>
          </div>
          <h2 class="outside-b"><a href="javascript:void(0);">{{ item.name }}</a></h2>
          <div class="showcase-desc"
            data-toggle="bsTooltip"
            data-container="body"
            data-tooltip-class="tooltip-showcase-3"
            data-placement="right"
            data-html="true"
            title="
            {%- for itemPost in item.posts ~%}
            <h3>{{ itemPost }}</h3>
            {%- endfor ~%}
            "
          >
            {%- for itemPost in item.posts ~%}
            <h3>{{ itemPost }}</h3>
            {%- endfor ~%}
          </div>
          <div class="about">
            <a href="javascript:void(0);" class="phone">
              <i class="icon icon-phone"></i>
              {{ item.phone }}
            </a>
            <a href="javascript:void(0);" class="more">{{ item.more }}</a>
          </div>
        </div>
      </div>
      {%- endfor ~%}
    </div>
  </div>
</div>
