<div id="wall" class="page-title promo">
  <div class="dy-components-demo inner">
    <h1 class="page-title">页面标题</h1>
    <h5 class="title">页面描述</h5>
  </div>
</div>
<div
  class="panel panel-ui">
  <!-- start section -->
  <section class="dy-components" id="name--category">
    <h2 class="section-header inner">组件分类名字</h2>
    <!-- start components -->
    <div class="section-item title-box" id="name--modules">
      <h4 class="title inner">组件名字</h4>
      <p class="rules inner">组件描述</p>
      <div class="dy-components-demo inner">
        <!--组件预览，通过include的形式引入-->
        {{ "{% include'@dyniva_ui/ui/modules/photo/dy-photo-1-0.html.twig' %}" }}
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <pre class="prettyprint lang-html">
            <!--源码预览, 需要escape的过滤器包裹-->
              {{ "{%- filter escape -%}" }}
                <!--当需要引入资源库，代码预览中添加如下-->
                {{ "{{- \"{{ attach_library('dyniva_ui/masonry') }}\" -}}" }}
                <!--引入对应的模板-->
                {{ "{% include'@dyniva_ui/ui/modules/photo/dy-photo-1-0.html.twig' %}" }}
                <!-- 需要传参时 -->
                {{ "{% include'@dyniva_ui/ui/modules/photo/dy-photo-1-0.html.twig' with{ name: value } %}" }}
              {{ "{%- endfilter -%}" }}

            <!-- 或者使用include方法 -->
              {{ "{{- \"{{ attach_library('dyniva_ui/masonry') }}\" -}}" }}
              <!--引入对应的模板-->
              {{ "{{ include('@dyniva_ui/ui/modules/photo/dy-photo-1-0.html.twig') | escape }}" }}
              <!-- 需要传参时 -->
              {{ "{{ include('@dyniva_ui/ui/modules/photo/dy-photo-1-0.html.twig', { name: value }) | escape  }}" }}
          </pre>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>类名</code>
                  </td>
                  <td>描述</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end components -->

    <!-- 预留继承 module 拓展 block -->
    {{ "{% block module %}{% endblock %}" }}
  </section>
  <!-- end section -->

  <section>其他section块</section>

  <!-- 预留继承 section 拓展 block -->
  {{ "{% block section %}{% endblock %}" }}
</div>
