{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
{% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">Form 表单</h1>
    <h5 class="title">具有数据收集、校验和提交功能的表单，包含复选框、单选框、输入框、下拉选择框等元素。</h5>
  </div>
</div>
<div class="panel panel-ui">
  <section class="dy-components" id="inputs">
    <h2 class="section-header inner">表单</h2>
    <div class="section-item title-box">
      <h4 class="title inner">基础样式</h4>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full" placeholder="文本">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full" value="" placeholder="文本">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full" placeholder="禁用"
                     disabled="disabled">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full form-element-shadow"
                     placeholder="阴影">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full success" placeholder="成功">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full info" placeholder="信息">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full warning" placeholder="警告">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-radius form-element-full error" placeholder="错误">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-min-tb">
              <div class="inside-min bg-color-primary">
                <input type="text"
                       class="form-text form-element-radius form-element-transparent form-element-full"
                       placeholder="透明">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<input type="text" class="form-text form-element-radius" value="Input Text" placeholder="form text">
<input type="text" class="form-text form-element-radius" value="" placeholder="Placeholder">
<input type="text" class="form-text form-element-radius" value="Disabled" placeholder="Placeholder" disabled>
<input type="text" class="form-text form-element-radius form-element-shadow" value="Shadow" placeholder="Shadow">
<input type="text" class="form-text form-element-radius success" value="Success" placeholder="form text">
<input type="text" class="form-text form-element-radius info" value="Info" placeholder="form text">
<input type="text" class="form-text form-element-radius warning" value="Warning" placeholder="form text">
<input type="text" class="form-text form-element-radius error" value="Error" placeholder="form text">

<div class="inside-min bg-color-primary">
  <input type="text" class="form-text form-element-transparent form-element-radius"
  value="Transparent" placeholder="form text transparent">
</div>' %}
                  <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
                </div>
                <div class="dy-components-desc">
                  <table class="table table-full">
                    <thead>
                      <tr>
                        <th>属性</th>
                        <th>说明</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><code>type="text"</code></td>
                        <td>表单元素为文本类型</td>
                      </tr>
                      <tr>
                        <td><code>.form-text</code></td>
                        <td>文本类型的表单样式类</td>
                      </tr>
                      <tr>
                        <td><code>.form-element-radius</code></td>
                        <td>给表单点击圆角</td>
                      </tr>
                      <tr>
                        <td><code>.form-element-shadow</code></td>
                        <td>给表单添加内阴影</td>
                      </tr>
                      <tr>
                        <td><code>placeholder="Placeholder"</code></td>
                        <td>给表单添加占位符</td>
                      </tr>
                      <tr>
                        <td><code>disabled</code></td>
                        <td>禁用表单</td>
                      </tr>
                      <tr>
                        <td><code>.success .info .warning .error</code></td>
                        <td>表单不同的状态类</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">圆角</h4>
      <p class="rules inner">使用规则</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-full" placeholder="基本">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-full form-element-radius" placeholder="带圆角">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-full form-element-circle" placeholder="半圆角">
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<input type="text" class="form-text" value="Input Text Base" placeholder="Right angle / default">
<input type="text" class="form-text form-element-radius" value="Input Text Radius" placeholder="Radius">
<input type="text" class="form-text form-element-circle" value="Input Text Circle" placeholder="Circle">' %}
            <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.form-element-radius</code></td>
                <td>默认3px的圆角</td>
              </tr>
              <tr>
                <td><code>.form-element-circle</code></td>
                <td>默认16px的圆角</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">宽度</h4>
      <p class="rules inner">给表单添加 <code>.form-element-full</code> 使表单占父元素100%宽度。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-4">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-full" placeholder="占满4个网格">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-full" placeholder="占满4个网格">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-full" placeholder="占满4个网格">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="inside-tb">
              <input type="text" class="form-text form-element-full" placeholder="占满12个网格">
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<input type="text" class="form-text form-element-full" value="" placeholder="">' %}
            <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
          </div>

        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">必填项</h4>
      <p class="rules inner">会在表单标签后面标记星号样式</p>
      <div class="dy-components-demo inner">
        <div class="form-item">
          <label for="phone" class="form-required">联系方式</label>
          <input type="tel" class="form-tel required form-element form-text" placeholder="手机号码">
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<label for="phone" class="form-required">联系方式</label>
<input type="tel" class="form-tel required form-element form-text">' %}
            <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.form-required</code></td>
                <td>该表单是必填字段</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block inputs %}{% endblock %}
  </section>

  <section class="dy-components" id="textarea">
    <h2 class="section-header inner">文本域</h2>
    <div class="section-item title-box">
      <h4 class="title inner">基本</h4>
      <p class="rules inner">应用不同的类，可以组合出需要的文本域表单。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea"
                        placeholder="默认"></textarea>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea"
                        placeholder="默认"></textarea>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea" placeholder="禁用"
                        disabled="disabled"></textarea>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea form-element-shadow"
                        placeholder="阴影"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<textarea name="textarea" rows="5" cols="60" class="form-textarea" placeholder="">success</textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea" placeholder="">info</textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea" placeholder="">warning</textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea" placeholder="">error</textarea>' %}
            <pre class="prettyprint lang-html">
            {{ blocks }}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>rows="5"</code></td>
                <td>文本域可见高度（一行计数）</td>
              </tr>
              <tr>
                <td><code>cols="60"</code></td>
                <td>文本域可见宽度（以平均字符宽度计）<code>60x2=120px</code></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">状态</h4>
      <p class="rules inner">四张状态可以应用在不同的应用场景中。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea success"
                        placeholder="成功"></textarea>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea info" placeholder="信息"></textarea>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea warning"
                        placeholder="警告"></textarea>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea error"
                        placeholder="错误"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<textarea name="textarea" rows="5" cols="60" class="form-textarea success" placeholder="">success</textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea info" placeholder="">info</textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea warning" placeholder="">warning</textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea error" placeholder="">error</textarea>' %}
            <pre class="prettyprint lang-html">
            {{ blocks }}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.success</code></td>
                <td>成功类，激活状态边框变成绿色</td>
              </tr>
              <tr>
                <td><code>.info</code></td>
                <td>信息类，激活状态边框变成蓝色</td>
              </tr>
              <tr>
                <td><code>.warning</code></td>
                <td>警告类，激活状态边框变成黄色</td>
              </tr>
              <tr>
                <td><code>.error</code></td>
                <td>错误类，激活状态边框变成红色</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">圆角</h4>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-4">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea" placeholder="文本域"></textarea>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea form-element-radius"
                        placeholder="文本域"></textarea>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inside-tb">
              <textarea name="textarea" rows="5" cols="60" class="form-textarea form-element-circle"
                        placeholder="文本域"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<textarea name="textarea" rows="5" cols="60" class="form-textarea" placeholder="文本域"></textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea form-element-radius" placeholder="文本域">圆角</textarea>
<textarea name="textarea" rows="5" cols="60" class="form-textarea form-element-circle" placeholder="文本域">大圆角</textarea>' %}
            <pre class="prettyprint lang-html">
            {{ blocks }}
            </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.form-element-radius</code></td>
                <td>为文本域添加3px的半径圆角</td>
              </tr>
              <tr>
                <td><code>.form-element-circle</code></td>
                <td>为文本域添加16px的半径圆角</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block textarea %}{% endblock %}
  </section>

  <section class="dy-components" id="select">
    <h2 class="section-header inner">选择框</h2>
    <div class="section-item title-box">
      <h4 class="title inner">下拉列表</h4>
      <p class="rules inner">rules</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full">
                <option value="" selected="selected">默认</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full" disabled="disabled">
                <option value="" selected="selected">默认</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full form-element-shadow">
                <option value="" selected="selected">阴影</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-min-tb">
              <div class="inside-min bg-color-primary">
                <select class="form-select form-element-full form-element-transparent">
                  <option value="" selected="selected">透明</option>
                  <option value="">选项一</option>
                  <option value="">选项二</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full success">
                <option value="" selected="selected">成功</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full info">
                <option value="" selected="selected">信息</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full warning">
                <option value="" selected="selected">警告</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full error">
                <option value="" selected="selected">错误</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full">
                <option value="" selected="selected">默认</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full  form-element-radius">
                <option value="" selected="selected">圆角</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="inside-tb">
              <select class="form-select form-element-full form-element-circle">
                <option value="" selected="selected">半圆角</option>
                <option value="">选项一</option>
                <option value="">选项二</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<select class="form-select">
  <option value="" selected="selected">Default</option>
  <option value="">First</option><option value="">Last</option>
</select>
<select class="form-select" disabled>
  <option value="" selected="selected">Disabled</option>
  <option value="">First</option><option value="">Last</option>
</select>
<select class="form-select form-element-shadow">
  <option value="" selected="selected">Shadow</option>
  <option value="">First</option><option value="">Last</option>
</select>
  <select class="form-select form-element-transparent">
    <option value="" selected="selected">Transparent</option>
    <option value="">First</option><option value="">Last</option>
</select>

<select class="form-select success">
  <option value="" selected="selected">Success</option>
  <option value="">First</option><option value="">Last</option>
</select>
<select class="form-select info">
  <option value="" selected="selected">Info</option>
  <option value="">First</option><option value="">Last</option>
</select>
<select class="form-select warning">
  <option value="" selected="selected">Warning</option>
  <option value="">First</option><option value="">Last</option>
</select>
<select class="form-select error">
  <option value="" selected="selected">Error</option>
  <option value="">First</option><option value="">Last</option>
</select>

// 圆角
<select class="form-select">
  <option value="" selected="selected">Default</option>
  <option value="">First</option>
  <option value="">Last</option>
</select>
<select class="form-select  form-element-radius">
  <option value="" selected="selected">Radius</option>
  <option value="">First</option>
  <option value="">Last</option>
</select>
<select class="form-select form-element-circle">
  <option value="" selected="selected">Circle</option>
  <option value="">First</option>
  <option value="">Last</option>
</select>' %}
                  <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
                </div>
                <div class="dy-components-desc">
                  <table class="table table-full">
                    <thead>
                      <tr>
                        <th>Class</th>
                        <th>说明</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><code>.form-select</code></td>
                        <td>为<code>select</code>元素添加该类</td>
                      </tr>
                      <tr>
                        <td><code>.form-element-shadow</code></td>
                        <td>为元素添加阴影</td>
                      </tr>
                      <tr>
                        <td><code>.form-element-transparent</code></td>
                        <td>设置元素为透明背景</td>
                      </tr>
                      <tr>
                        <td><code>.success/.info/.warning/.error</code></td>
                        <td>应用不同的状态</td>
                      </tr>
                      <tr>
                        <td><code>.form-element-radius</code></td>
                        <td>为元素添加3px的半径圆角</td>
                      </tr>
                      <tr>
                        <td><code>.form-element-circle</code></td>
                        <td>为元素添加16px的圆角</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">复选框</h4>
      <p class="rules inner">默认的 <code>input</code>元素被隐藏，使用 <code><i class="btn-choose-mark invisible"></i></code>
        模拟选中。
      </p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-12">
            <label class="btn-choose btn-choose-square">
              <input type="checkbox" class="form-checkbox btn-choose-input">
              <i class="btn-choose-mark invisible"></i>
              未选择
            </label>
            <label class="btn-choose btn-choose-square">
              <input type="checkbox" class="form-checkbox btn-choose-input" checked="checked">
              <i class="btn-choose-mark invisible"></i>
              已选择
            </label>
            <label class="btn-choose btn-choose-square btn-choose-disabled">
              <input type="checkbox" disabled="disabled" class="form-checkbox btn-choose-input">
              <i class="btn-choose-mark invisible"></i>
              禁用选择
            </label>
            <label class="btn-choose btn-choose-square btn-choose-disabled">
              <input type="checkbox" disabled="disabled" class="form-checkbox btn-choose-input" checked="checked">
              <i class="btn-choose-mark invisible"></i>
              禁用选择
            </label>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<label class="btn-choose btn-choose-square">
  <input type="checkbox" class="form-checkbox btn-choose-input">
  <i class="btn-choose-mark invisible"></i> Unchecked
</label>
<label class="btn-choose btn-choose-square">
  <input type="checkbox" class="form-checkbox btn-choose-input" checked>
  <i class="btn-choose-mark invisible"></i> Checked
</label>
<label class="btn-choose btn-choose-square btn-choose-disabled">
  <input type="checkbox" class="form-checkbox btn-choose-input" disabled>
  <i class="btn-choose-mark invisible"></i> Disabled Unchecked
</label>
<label class="btn-choose btn-choose-square btn-choose-disabled">
  <input type="checkbox" class="form-checkbox btn-choose-input" checked disabled>
  <i class="btn-choose-mark invisible"></i> Disabled Checked
</label>' %}
                  <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
                </div>
                <div class="dy-components-desc">
                  <table class="table table-full">
                    <thead>
                      <tr>
                        <th>Class</th>
                        <th>说明</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><code>.btn-choose.btn-choose-square</code></td>
                        <td>为复选框应用该类</td>
                      </tr>
                      <tr>
                        <td><code></code></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">单选框</h4>
      <p class="rules inner">默认的 <code>input</code>元素被隐藏，使用 <code><i class="btn-choose-mark invisible"></i></code>
        模拟选中圆心。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-12">
            <label class="btn-choose btn-choose-round">
              <input type="radio" class="form-radio btn-choose-input">
              <i class="btn-choose-mark invisible"></i>
              可选
            </label>
            <label class="btn-choose btn-choose-round">
              <input type="radio" class="form-radio btn-choose-input" checked="checked">
              <i class="btn-choose-mark invisible"></i>
              已选
            </label>
            <label class="btn-choose btn-choose-round btn-choose-disabled">
              <input type="radio" disabled="disabled" class="form-radio btn-choose-input">
              <i class="btn-choose-mark invisible"></i>
              禁止选中
            </label>
            <label class="btn-choose btn-choose-round btn-choose-disabled">
              <input type="radio" disabled="disabled" class="form-radio btn-choose-input" checked="checked">
              <i class="btn-choose-mark invisible"></i>
              禁止选中
            </label>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<label class="btn-choose btn-choose-round">
  <input type="radio" class="form-radio btn-choose-input">
  <i class="btn-choose-mark invisible"></i> Radio is off
</label>
<label class="btn-choose btn-choose-round">
  <input type="radio" class="form-radio btn-choose-input" checked>
  <i class="btn-choose-mark invisible"></i> Radio is on
</label>
<label class="btn-choose btn-choose-round btn-choose-disabled">
  <input type="radio" class="form-radio btn-choose-input" disabled="disabled">
  <i class="btn-choose-mark invisible"></i> Disabled Radio is off
</label>
<label class="btn-choose btn-choose-round btn-choose-disabled">
  <input type="radio" class="form-radio btn-choose-input" disabled="disabled" checked>
  <i class="btn-choose-mark invisible"></i> Disabled Radio is on
</label>' %}
            <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.btn-choose.btn-choose-round</code></td>
                <td>为单选框应用该类</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">切换</h4>
      <p class="rules inner">使用规则</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-item form-item-switch">
              <label class="form-switch">
                <input type="checkbox" class="form-radio form-switch-input">
                <i class="form-switch-toggle"></i>
              </label>
              切换关闭
            </div>
            <div class="form-item form-item-switch">
              <label class="form-switch">
                <input type="checkbox" class="form-radio form-switch-input" checked="checked">
                <i class="form-switch-toggle"></i>
              </label>
              切换打开
            </div>
            <div class="form-item form-item-switch disabled">
              <label class="form-switch">
                <input type="checkbox" class="form-radio form-switch-input" disabled="disabled">
                <i class="form-switch-toggle"></i>
              </label>
              禁止切换
            </div>
            <div class="form-item form-item-switch disabled">
              <label class="form-switch">
                <input type="checkbox" class="form-radio form-switch-input" disabled="disabled" checked="checked">
                <i class="form-switch-toggle"></i>
              </label>
              禁止切换
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="form-item form-item-switch">
  <label class="form-switch">
    <input type="checkbox" class="form-radio form-switch-input">
    <i class="form-switch-toggle"></i>
  </label>
  Switch is off
</div>
<div class="form-item form-item-switch">
  <label class="form-switch">
    <input type="checkbox" class="form-radio form-switch-input" checked>
    <i class="form-switch-toggle"></i>
  </label>
  Switch is on
</div>
<div class="form-item form-item-switch disabled">
  <label class="form-switch">
    <input type="checkbox" class="form-radio form-switch-input" disabled="disabled">
    <i class="form-switch-toggle"></i>
  </label>
  Disabled Switch is off
</div>
<div class="form-item form-item-switch disabled">
  <label class="form-switch">
    <input type="checkbox" class="form-radio form-switch-input" disabled="disabled" checked>
    <i class="form-switch-toggle"></i>
  </label>
  Disabled Switch is on
</div>' %}
                  <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
                </div>
                <div class="dy-components-desc">
                  <table class="table table-full">
                    <thead>
                      <tr>
                        <th>Class</th>
                        <th>说明</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><code>.form-switch</code></td>
                        <td>使用该类包含表单元素</td>
                      </tr>
                      <tr>
                        <td><code>.form-switch-toggle</code></td>
                        <td>该类包含动画切换效果</td>
                      </tr>
                      <tr>
                        <td><code>checked="checked"</code></td>
                        <td>添加该属性，默认切换为选中</td>
                      </tr>
                      <tr>
                        <td><code>disabled="disabled"</code></td>
                        <td>禁用选中</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        </div>
      </div>
    </div>

    {% block select %}{% endblock %}
  </section>

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
