{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">网格系统</h1>
    <h5 class="title">网格系统通过一系列包含内容的行和列来创建页面布局，使用行业通用的12列响应式栅格系统。</h5>
  </div>
</div>
<div class="panel panel-ui">
  <section class="dy-components" id="grid">
    <h2 class="section-header inner">网格系统</h2>
    <div class="section-item title-box">
      <h4 class="title inner">断点</h4>
      <p class="rules inner">默认响应式断点，详细可以看let.less，为了适应不同的屏幕大小，预定了4个定义的断点</p>
      <div class="dy-components-demo inner">
        <table class="t-c table-full">
          <tbody>
          <tr>
            <td><code>@screen-xs: 480px;</code></td>
            <td><code>@screen-sm: 768px;</code></td>
            <td><code>@screen-md: 992px;</code></td>
            <td><code>@screen-lg: 1200px;</code></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">列</h4>
      <p class="rules inner">参考了bootstrap的网格系统，有些个性化的修改。</p>
      <div class="dy-components-demo inner">
        <table class="t-c table-full">
          <tbody>
          <tr>
            <td></td>
            <td>手机 (&lt;768px)</td>
            <td>平板 (≥768px)</td>
            <td>桌面 (≥992px)</td>
            <td>超大桌面 (≥1200px)</td>
          </tr>
          <tr>
            <td>宽度</td>
            <td>auto</td>
            <td>950px</td>
            <td>970px</td>
            <td>1170</td>
          </tr>
          <tr>
            <td>类名</td>
            <td>
              <code>.col-xs-</code>
            </td>
            <td>
              <code>.col-sm-</code>
            </td>
            <td>
              <code>.col-md-</code>
            </td>
            <td>
              <code>.col-lg-</code>
            </td>
          </tr>
          <tr>
            <td>栏数</td>
            <td colspan="4">
              12
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">示例</h4>
      <p class="rules inner">十二网格系统，另外添加了一列五个的情况 <code>.col-sm-10-2</code></p>
      <div class="dy-components-demo inner">
        <div class="outside-b">
          <div class="row">
            <div class="col col-md-12">
              <div class="notices notices-base inside">col-md-12</div>
            </div>
          </div>
        </div>
        <div class="outside-b">
          <div class="row">
            <div class="col col-md-10">
              <div class="notices notices-base inside">col-md-10</div>
            </div>
            <div class="col col-md-2">
              <div class="notices notices-base inside">col-md-2</div>
            </div>
          </div>
        </div>
        <div class="outside-b">
          <div class="row">
            <div class="col col-md-8">
              <div class="notices notices-base inside">col-md-8</div>
            </div>
            <div class="col col-md-4">
              <div class="notices notices-base inside">col-md-4</div>
            </div>
          </div>
        </div>
        <div class="outside-b">
          <div class="row">
            <div class="col col-md-6">
              <div class="notices notices-base inside">col-md-6</div>
            </div>
            <div class="col col-md-6">
              <div class="notices notices-base inside">col-md-6</div>
            </div>
          </div>
        </div>
        <div class="outside-b">
          <div class="row">
            <div class="col col-md-4">
              <div class="notices notices-base inside">col-md-4</div>
            </div>
            <div class="col col-md-4">
              <div class="notices notices-base inside">col-md-4</div>
            </div>
            <div class="col col-md-4">
              <div class="notices notices-base inside">col-md-4</div>
            </div>
          </div>
        </div>
        <div class="outside-b">
          <div class="row">
            <div class="col col-md-3">
              <div class="notices notices-base inside">col-md-3</div>
            </div>
            <div class="col col-md-3">
              <div class="notices notices-base inside">col-md-3</div>
            </div>
            <div class="col col-md-3">
              <div class="notices notices-base inside">col-md-3</div>
            </div>
            <div class="col col-md-3">
              <div class="notices notices-base inside">col-md-3</div>
            </div>
          </div>
        </div>
        <div class="outside-b">
          <div class="row">
            <div class="col col-sm-10-2">
              <div class="notices notices-success inside">col-sm-10-2</div>
            </div>
            <div class="col col-sm-10-2">
              <div class="notices notices-success inside">col-sm-10-2</div>
            </div>
            <div class="col col-sm-10-2">
              <div class="notices notices-success inside">col-sm-10-2</div>
            </div>
            <div class="col col-sm-10-2">
              <div class="notices notices-success inside">col-sm-10-2</div>
            </div>
                  <div class="col col-sm-10-2">
                    <div class="notices notices-success inside">col-sm-10-2</div>
                  </div>
                </div>
              </div>
              <div class="outside-b">
                <div class="row">
                  <div class="col col-md-2">
                    <div class="notices notices-base inside">col-md-2</div>
                  </div>
                  <div class="col col-md-2">
                    <div class="notices notices-base inside">col-md-2</div>
                  </div>
                  <div class="col col-md-2">
                    <div class="notices notices-base inside">col-md-2</div>
                  </div>
                  <div class="col col-md-2">
                    <div class="notices notices-base inside">col-md-2</div>
                  </div>
                  <div class="col col-md-2">
                    <div class="notices notices-base inside">col-md-2</div>
                  </div>
                  <div class="col col-md-2">
                    <div class="notices notices-base inside">col-md-2</div>
                  </div>
                </div>
              </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="row">
  <div class="col col-md-12">col-md-12</div>
</div>
<div class="row">
  <div class="col col-md-10">col-md-10</div>
  <div class="col col-md-2">col-md-2</div>
</div>
<div class="row">
  <div class="col col-md-8">col-md-8</div>
  <div class="col col-md-4">col-md-4</div>
</div>
<div class="row">
  <div class="col col-md-6">col-md-6</div>
  <div class="col col-md-6">col-md-6</div>
</div>
<div class="row">
  <div class="col col-md-4">col-md-4</div>
  <div class="col col-md-4">col-md-4</div>
  <div class="col col-md-4">col-md-4</div>
</div>
<div class="row">
  <div class="col col-md-3">col-md-3</div>
  <div class="col col-md-3">col-md-3</div>
  <div class="col col-md-3">col-md-3</div>
  <div class="col col-md-3">col-md-3</div>
</div>
<div class="row">
  <div class="col col-sm-10-2">col-sm-10-2</div>
  <div class="col col-sm-10-2">col-sm-10-2</div>
  <div class="col col-sm-10-2">col-sm-10-2</div>
  <div class="col col-sm-10-2">col-sm-10-2</div>
  <div class="col col-sm-10-2">col-sm-10-2</div>
</div>
<div class="row">
  <div class="col col-md-2">col-md-2</div>
  <div class="col col-md-2">col-md-2</div>
  <div class="col col-md-2">col-md-2</div>
  <div class="col col-md-2">col-md-2</div>
  <div class="col col-md-2">col-md-2</div>
  <div class="col col-md-2">col-md-2</div>
</div>' %}
            <pre class="prettyprint lang-html">
                    {{ blocks }}
                  </pre>
          </div>

        </div>
      </div>
    </div>

    {% block grid %}{% endblock %}
  </section>


  <section class="dy-components" id="flex" style="display:none">
    <h2 class="section-header inner">弹性布局</h2>
    <div class="section-item title-box">
      <h4 class="title inner">弹性Flex布局</h4>
      <p class="rules inner">有别于网格系统，弹性布局使用 Flex 布局，对应低版本的浏览器不支持，可按需求使用在移动端。</p>
      <div class="dy-components-demo inner">
        <div class="flex outside-b">
          <div class="flex-col">
            <div class="notices notices-warning inside">group one</div>
          </div>
          <div class="flex-col">
            <div class="notices notices-fail inside">group one</div>
          </div>
          <div class="flex-col">
            <div class="notices notices-success inside">group one</div>
          </div>
          <div class="flex-col">
            <div class="notices notices-info inside">group one</div>
          </div>
        </div>
        <div class="flex outside-b">
          <div class="flex-col">
            <div class="notices notices-warning inside">group two</div>
          </div>
          <div class="flex-col">
            <div class="notices notices-fail inside">group two</div>
          </div>
          <div class="flex-col">
            <div class="notices notices-success inside">group two</div>
          </div>
        </div>
        <div class="flex outside-b">
          <div class="flex-col">
            <div class="notices notices-warning inside">group two</div>
          </div>
          <div class="flex-col">
            <div class="notices notices-fail inside">group two</div>
          </div>
        </div>
        <div class="flex outside-b">
          <div class="flex-col">
            <div class="notices notices-warning inside">group two</div>
          </div>
        </div>
        <div class="flex outside-b">
          <div class="flex flex-col bg-gray" style="height:100px;">
            <div class="notices notices-warning inside">group two</div>
          </div>
        </div>
        <div class="flex outside-b">
          <div class="flex flex-col flex-middle bg-gray" style="height:100px;">
            <div class="notices notices-warning inside">group two AND flex middle</div>
          </div>
        </div>
        <div class="flex flex-col bg-gray outside-b" style="height:100px;">
          <div class="notices notices-warning inside outside-lr">normal</div>
          <div class="notices notices-warning inside outside-lr flex-align-center">flex-align-center</div>
          <div class="notices notices-warning inside outside-lr flex-align-top">flex-align-top</div>
          <div class="notices notices-warning inside outside-lr flex-align-bottom">flex-align-bottom</div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="flex outside-b">
  <div class="flex-col">
    <div class="notices notices-warning inside">group one</div>
  </div>
  <div class="flex-col">
    <div class="notices notices-fail inside">group one</div>
  </div>
  <div class="flex-col">
    <div class="notices notices-success inside">group one</div>
  </div>
  <div class="flex-col">
    <div class="notices notices-info inside">group one</div>
  </div>
</div>
<div class="flex outside-b">
  <div class="flex-col">
    <div class="notices notices-warning inside">group two</div>
  </div>
  <div class="flex-col">
    <div class="notices notices-fail inside">group two</div>
  </div>
  <div class="flex-col">
    <div class="notices notices-success inside">group two</div>
  </div>
</div>
<div class="flex outside-b">
  <div class="flex-col">
    <div class="notices notices-warning inside">group two</div>
  </div>
  <div class="flex-col">
    <div class="notices notices-fail inside">group two</div>
  </div>
</div>
<div class="flex outside-b">
  <div class="flex-col">
    <div class="notices notices-warning inside">group two</div>
  </div>
</div>
<div class="flex outside-b">
  <div class="flex flex-col bg-gray" style="height:100px;">
    <div class="notices notices-warning inside">group two</div>
  </div>
</div>
<div class="flex outside-b">
  <div class="flex flex-col flex-middle bg-gray" style="height:100px;">
    <div class="notices notices-warning inside">group two AND flex middle</div>
  </div>
</div>
<div class="flex flex-col bg-gray outside-b" style="height:100px;">
  <div class="notices notices-warning inside outside-lr">normal</div>
  <div class="notices notices-warning inside outside-lr flex-align-center">flex-align-center</div>
  <div class="notices notices-warning inside outside-lr flex-align-top">flex-align-top</div>
  <div class="notices notices-warning inside outside-lr flex-align-bottom">flex-align-bottom</div>
</div>' %}
            <pre class="prettyprint lang-html">
                    {{ blocks }}
                  </pre>
          </div>

        </div>
      </div>
    </div>

    {% block flex %}{% endblock %}
  </section>

  <section class="dy-components" id="table">
    <h2 class="section-header inner">表格布局</h2>
    <div class="section-item title-box">
      <h4 class="title inner">表格</h4>
      <p class="rules inner">使用表格可以很好的兼容浏览器，但是在移动端需要做额外的处理。</p>
      <div class="dy-components-demo inner">
        <div class="justified outside-b">
          <div class="justified-item justified-item-auto">
            <div class="notices notices-warning inside">justified one</div>
          </div>
          <div class="justified-item justified-item-auto">
            <div class="notices notices-fail inside">justified one</div>
          </div>
          <div class="justified-item justified-item-auto">
            <div class="notices notices-success inside">justified one</div>
          </div>
          <div class="justified-item justified-item-auto">
            <div class="notices notices-info inside">justified one</div>
          </div>
        </div>
        <div class="justified outside-b">
          <div class="justified-item justified-item-auto">
            <div class="notices notices-warning inside">justified two</div>
          </div>
          <div class="justified-item justified-item-auto">
            <div class="notices notices-fail inside">justified two</div>
          </div>
          <div class="justified-item justified-item-auto">
            <div class="notices notices-success inside">justified two</div>
          </div>
        </div>
        <div class="justified outside-b">
          <div class="justified-item justified-item-auto">
            <div class="notices notices-warning inside">justified three</div>
          </div>
          <div class="justified-item justified-item-auto">
            <div class="notices notices-fail inside">justified three</div>
          </div>
        </div>
        <div class="justified outside-b">
          <div class="justified-item justified-item-auto">
            <div class="notices notices-warning inside">justified four</div>
          </div>
        </div>
        <div class="justified outside-b">
          <div class="justified-item justified-middle notices notices-warning   inside" style="height:100px;">
            justified
            four
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse"
           aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
 <div class="justified outside-b">
    <div class="justified-item justified-item-auto">
      <div class="notices notices-warning inside">justified one</div>
    </div>
    <div class="justified-item justified-item-auto">
      <div class="notices notices-fail inside">justified one</div>
    </div>
    <div class="justified-item justified-item-auto">
      <div class="notices notices-success inside">justified one</div>
    </div>
    <div class="justified-item justified-item-auto">
      <div class="notices notices-info inside">justified one</div>
    </div>
  </div>
  <div class="justified outside-b">
    <div class="justified-item justified-item-auto">
      <div class="notices notices-warning inside">justified two</div>
    </div>
    <div class="justified-item justified-item-auto">
      <div class="notices notices-fail inside">justified two</div>
    </div>
    <div class="justified-item justified-item-auto">
      <div class="notices notices-success inside">justified two</div>
    </div>
  </div>
  <div class="justified outside-b">
    <div class="justified-item justified-item-auto">
      <div class="notices notices-warning inside">justified three</div>
    </div>
    <div class="justified-item justified-item-auto">
      <div class="notices notices-fail inside">justified three</div>
    </div>
  </div>
  <div class="justified outside-b">
    <div class="justified-item">
      <div class="notices notices-warning inside">justified four</div>
    </div>
  </div>
  <div class="justified outside-b">
    <div class="justified-item justified-middle notices notices-warning   inside" style="height:100px;">justified four</div>
  </div>' %}
            <pre class="prettyprint lang-html">
                    {{ blocks }}
                  </pre>
          </div>
        </div>
      </div>
    </div>

    {% block table %}{% endblock %}
  </section>

  {# 间距系统 #}
  <section class="dy-components" id="spacer">
    <h2 class="section-header inner">间距系统</h2>

    <div class="section-item title-box">
      <h4 class="title inner">间距</h4>
      <p class="rules inner">间距系统是很重要的概念，在页面的区块或者组件中统一间距。</p>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">大号间距</h4>
      <p class="rules inner">高度为 80px，移动端高度为 40px，组件间距比较大时使用</p>

      <div class="dy-components-demo inner">
        <div class="ui-space-wrapper spacer-lg"></div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="spacer-lg"></div>' %}
            <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.spacer-lg</code></td>
                <td>大间距</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">中等间距</h4>
      <p class="rules inner">高度为 40px，移动端高度为 20px</p>
      <div class="dy-components-demo inner">
        <div class="ui-space-wrapper spacer-md"></div>
        <div>

          <div class="dy-components-markup inner">
            <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
               aria-controls="collapseCode">
              <i class="icon">&#xe818;</i>开发说明
            </a>
            <div class="collapse">
              <div>
                {% set blocks = '
 <div class="spacer-md"></div>' %}
                <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
              </div>
              <div class="dy-components-desc">
                <table class="table table-full">
                  <thead>
                  <tr>
                    <th>Class</th>
                    <th>说明</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><code>.spacer-md</code></td>
                    <td>默认间距</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="outside-tb-lg"></div>
        <div class="section-item title-box">
          <h4 class="title inner">小号间距</h4>
          <p class="rules inner">高度为 20px，移动端高度为 10px，组件间距比较小时使用</p>

          <div class="dy-components-demo inner">
            <div class="ui-space-wrapper spacer-sm"></div>
          </div>
          <div class="dy-components-markup inner">
            <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
               aria-controls="collapseCode">
              <i class="icon">&#xe818;</i>开发说明
            </a>
            <div class="collapse">
              <div>
                {% set blocks = '
<div class="spacer-sm"></div>' %}
                <pre class="prettyprint lang-html">
                  {{ blocks }}
                  </pre>
              </div>
              <div class="dy-components-desc">
                <table class="table table-full">
                  <thead>
                  <tr>
                    <th>Class</th>
                    <th>说明</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><code>.spacer-sm</code></td>
                    <td>小号间距</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block spacer %}{% endblock %}
  </section>
  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
