{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">icon</h1>
    <h5 class="title">图片让页面的表现元素更加丰富，图片应该在各种设备按比例缩放响应。</h5>
  </div>
</div>
<div class="panel panel-ui">
  <section class="dy-components" id="iconfont">
    <h2 class="section-header inner">Icon 字体</h2>
    <div class="section-item title-box">
      <h4 class="title inner">两种引用方式 (#单击类名或者unicode即复制成功)</h4>
      <div class="rules inner">
        <ol>
          <li>unicode是字体在网页端最原始的应用方式，特点是：兼容性最好，支持ie6+，及所有现代浏览器。支持按字体的方式去动态调整图标大小，颜色等等。</li>
          <li>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</li>
        </ol>
      </div>
      <div class="dy-components-demo inner">
        <div class="row outside-tb">
          <div class="col-xs-12">
            <ul class="icon_lists clear">
              {% for item in [
                { class: 'icon-music', unicode: '&#xe61c;' },
                { class: 'icon-folding', unicode: '&#xe662;' },
                { class: 'icon-video', unicode: '&#xe725;' },
                { class: 'icon-search', unicode: '&#xe6b0;' },
                { class: 'icon-save', unicode: '&#xe63d;' },
                { class: 'icon-phone', unicode: '&#xe636;' },
                { class: 'icon-image', unicode: '&#xe620;' },
                { class: 'icon-hot', unicode: '&#xe758;' },
                { class: 'icon-select', unicode: '&#xe69f;' },
                { class: 'icon-select-line', unicode: '&#xe64a;' },
                { class: 'icon-logo', unicode: '&#xe001;' },
                { class: 'icon-twitter', unicode: '&#xec9c;' },
                { class: 'icon-youku', unicode: '&#xe612;' },
                { class: 'icon-wechat', unicode: '&#xe625;' },
                { class: 'icon-qq', unicode: '&#xe613;' },
                { class: 'icon-zhihu', unicode: '&#xe87c;' },
                { class: 'icon-instagram', unicode: '&#xe87f;' },
                { class: 'icon-weibo', unicode: '&#xe882;' },
                { class: 'icon-facebook', unicode: '&#xe619;' },
                { class: 'icon-check', unicode: '&#xe61a;' },
                { class: 'icon-uncheck', unicode: '&#xe63c;' },
                { class: 'icon-rss3', unicode: '&#xe6bb;' },
                { class: 'icon-book', unicode: '&#xe642;' },
                { class: 'icon-coffe', unicode: '&#xe719;' },
                { class: 'icon-user', unicode: '&#xe645;' },
                { class: 'icon-user-line', unicode: '&#xe624;' },
                { class: 'icon-team', unicode: '&#xe816;' },
                { unicode: '&#xe75a;', class: 'icon-fullscreen-exit' },
                { unicode: '&#xe75b;', class: 'icon-fullscreen' },
                { unicode: '&#xe730;', class: 'icon-scissor' },
                { unicode: '&#xe601;', class: 'icon-exclamation' },
                { unicode: '&#xe88f;', class: 'icon-question' },
                { unicode: '&#xe79f;', class: 'icon-pause' },
                { unicode: '&#xe647;', class: 'icon-email' },
                { unicode: '&#xe7de;', class: 'icon-email-line' },
                { unicode: '&#xe610;', class: 'icon-desktop' },
                { unicode: '&#xe6ae;', class: 'icon-sound' },
                { unicode: '&#xe7c4;', class: 'icon-bell' },
                { unicode: '&#xe81c;', class: 'icon-loader' },
                { unicode: '&#xe60c;', class: 'icon-earth' },
                { unicode: '&#xe7eb;', class: 'icon-global' },
                { unicode: '&#xe60a;', class: 'icon-path' },
                { unicode: '&#xe60d;', class: 'icon-education' },
                { unicode: '&#xe715;', class: 'icon-tags' },
                { unicode: '&#xe60e;', class: 'icon-calendar' },
                { unicode: '&#xe651;', class: 'icon-flag' },
                { unicode: 'amp;#xe64d;', class: 'icon-files' },
                { unicode: '&#xe68c;', class: 'icon-top' },
                { unicode: '&#xe96f;', class: 'icon-code' },
                { unicode: '&#xe604;', class: 'icon-cloud-download' },
                { unicode: '&#xe60b;', class: 'icon-size' },
                { unicode: '&#xe6ab;', class: 'icon-radio-choose' },
                { unicode: '&#xe6ca;', class: 'icon-map' },
                { unicode: '&#xe61d;', class: 'icon-ruler' },
                { unicode: '&#xe60f;', class: 'icon-reading' },
                { unicode: '&#xe607;', class: 'icon-data' },
                { unicode: '&#xe602;', class: 'icon-menu' },
                { unicode: '&#xe6d4;', class: 'icon-checkbox' },
                { unicode: '&#xe603;', class: 'icon-play' },
                { unicode: '&#xe793;', class: 'icon-file' },
                { unicode: '&#xe605;', class: 'icon-talk' },
                { unicode: '&#xe606;', class: 'icon-time' },
                { unicode: '&#xe817;', class: 'icon-right' },
                { unicode: '&#xe618;', class: 'icon-up' },
                { unicode: '&#xe818;', class: 'icon-down' },
                { unicode: '&#xe819;', class: 'icon-left' },
                { unicode: '&#xe723;', class: 'icon-minus' },
                { unicode: '&#xe609;', class: 'icon-plus' },
                { unicode: '&#xe61e;', class: 'icon-close' },
                { unicode: '&#xe600;', class: 'icon-success' },
                { unicode: '&#xe608;', class: 'icon-blockquote-right' },
                { unicode: '&#xec9d;', class: 'icon-blockquote-left' },
                { unicode: '&#xe64f;', class: 'icon-unlock' },
                { unicode: '&#xe611;', class: 'icon-lock' },
                { unicode: '&#xe7ed;', class: 'icon-double-left' },
                { unicode: '&#xe7ee;', class: 'icon-double-right' },
                { unicode: '&#xe679;', class: 'icon-home' },
                { unicode: '&#xe709;', class: 'icon-arrow-left' },
                { unicode: '&#xe70e;', class: 'icon-arrow-right' },
                { unicode: '&#xe63e;', class: 'icon-print' },
                { unicode: '&#xe7df;', class: 'icon-heart' },
                { unicode: '&#xe849;', class: 'icon-heart-fill' },
                { unicode: '&#xe7e0;', class: 'icon-star' },
                { unicode: '&#xe7e7;', class: 'icon-share'}
              ] %}
                <li>
                  <i class="icon {{ item.class }}"></i>
                  <input type="text" readonly value="{{ item.unicode }}" size="{{ item.unicode|length }}"
                         title="{{ item.unicode }}" onclick="this.select();document.execCommand('copy')"/>
                  <input type="text" readonly value=".{{ item.class }}" size="{{ item.class|length }}"
                         title="{{ item.class }}" onclick="this.select();document.execCommand('copy')"/>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            <pre class="prettyprint lang-html">
              {%- filter escape -%}
                <i class="icon">&#xe61c;</i>
                <i class="icon icon-map"></i>
              {%- endfilter -%}
            </pre>
          </div>
        </div>
      </div>
    </div>
    {% block iconfont %}{% endblock %}
  </section>
  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
