{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">图片</h1>
    <h5 class="title">图片让页面的表现元素更加丰富，图片应该在各种设备按比例缩放响应，最大宽度不超过100%，给图片添加 <code>.img-full</code>，可使图片占100%宽度。</h5>
  </div>
</div>

<div class="panel panel-ui">
  <section class="dy-components" id="images">
    <h2 class="section-header inner">图片</h2>

    <div class="section-item title-box">
      <h4 class="title inner">大小</h4>
      <p class="rules inner"><span class="text-color-error">注意：</span>class定义的宽度优先于img属性定义的行内属性。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-sm-4">
            <p class="text-light"><code>.img-l / width: 256px</code></p>
            <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg"
                 class="img-l radius-normal" width="372"
                 height="218" alt="image large">
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4">
                <p class="text-light"><code>.img-n / width: 128px</code></p>
                <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg" class="img-n"
                     width="372" height="218"
                     alt="image normal">
              </div>
              <div class="col-sm-4">
                <p class="text-light"><code>.img-s / width: 64px</code></p>
                <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg" class="img-s"
                     width="372" height="218"
                     alt="image small">
              </div>
              <div class="col-sm-4">
                <p class="text-light"><code>.img-m / width: 32px</code></p>
                <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/light-03.jpg"
                     class="img-m" width="372" height="218"
                     alt="image mini">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<img src="" class="img-l radius-normal" alt="image large">
<img src="" class="img-n" alt="image normal">
<img src="" class="img-s" alt="image small">
<img src="" class="img-m" alt="image mini">' %}
            <pre class="prettyprint lang-html">
                      {{ blocks }}
                    </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.img-l</code></td>
                <td>宽度为256px，高度自动</td>
              </tr>
              <tr>
                <td><code>.img-n</code></td>
                <td>宽度为128px，高度自动</td>
              </tr>
              <tr>
                <td><code>.img-s</code></td>
                <td>宽度为64px，高度自动</td>
              </tr>
              <tr>
                <td><code>.img-m</code></td>
                <td>宽度为32px，高度自动</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">圆</h4>
      <p class="rules inner">使用指定的class给图片添加圆角效果。</p>
      <div class="dy-components-demo inner">
        <div class="row t-c">
          <div class="col-xs-12 col-md-6">
            <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/square/light-03.jpg"
                 class="img-l img-radius" width="372"
                 height="218" alt="image large radius">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/square/light-03.jpg"
                 class="img-l img-circle" width="372"
                 height="218" alt="image large radius">
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<img src="" class="img-l img-radius" alt="image large radius">
<img src="" class="img-l img-circle" alt="image large radius">' %}
            <pre class="prettyprint lang-html">
                        {{ blocks }}
                      </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.img-radius</code></td>
                <td>添加5px的圆角</td>
              </tr>
              <tr>
                <td><code>.img-circle</code></td>
                <td>添加50%的圆角</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">效果</h4>
      <p class="rules inner">使用规则</p>
      <div class="dy-components-demo inner">
        <div class="row outside-tb t-c">
          <div class="col-sm-6">
            <p class="text-light">阴影</p>
            <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/square/light-03.jpg"
                 class="img-shadow" width="372" height="218"
                 alt="image raised">
          </div>
          <div class="col-sm-6">
            <p class="text-light">去色</p>
            <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/square/light-03.jpg"
                 class="img-desaturate" width="372" height="218"
                 alt="image desaturate">
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = 'show you code' %}
            <pre class="prettyprint lang-html">
                        {{ blocks }}
                      </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.img-shadow</code></td>
                <td>给图片添加阴影效果</td>
              </tr>
              <tr>
                <td><code>.img-desaturate</code></td>
                <td>给图片去色</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">缩略图</h4>
      <p class="rules inner">使用规则</p>
      <div class="dy-components-demo inner">
        <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/square/light-03.jpg"
             class="img-thumbnail img-l" width="256"
             height="256" alt="avatar">
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<img src="" class="img-thumbnail img-l" alt="avatar">' %}
            <pre class="prettyprint lang-html">
                        {{ blocks }}
                      </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>.img-thumbnail</code></td>
                <td>给图片添加一定的内边距并且有阴影效果</td>
              </tr>
              <tr>
                <td><code></code></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">图片按比例显示</h4>
      <p class="rules inner">
        如果是比较小的图，一般看移动端的最大尺寸来界定最大宽度，再推算出高度，确保使用推荐尺寸，以下示例同一张尺寸不同显示不同比例。另外一个作用是，不同的图片尺寸，可以隐性的设置图片的父元素相同的高度。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="wrapper-image">
              <img src="holder.js/356x266?text=4:3" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="wrapper-image ratio-2-1">
              <img src="holder.js/356x266?text=2:1" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="wrapper-image">
  <img src="holder.js/356x266?text=4:3" alt="">
</div>
<div class="wrapper-image ratio-2-1">
  <img src="holder.js/356x266?text=2:1" alt="">
</div>
' %}
            <pre class="prettyprint lang-html">
                        {{ blocks }}
                      </pre>
                    </div>
                    <div class="dy-components-desc">
                      <table class="table table-full">
                        <thead>
                        <tr>
                          <th>Class</th>
                          <th>说明</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td><code>.wrapper-image</code></td>
                          <td>图片外包围Class，图片默认比例4：3</td>
                        </tr>
                        <tr>
                          <td><code>.ratio-2-1</code></td>
                          <td>图片比例2：1</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
        </div>
      </div>
    </div>

    {% block images %}{% endblock %}
  </section>

  <section class="dy-components" id="lazy-load">
    <h2 class="section-header inner">图片懒加载</h2>

    <div class="section-item title-box">
      <h4 class="title inner">基本使用</h4>
      <p class="rules inner">图片懒加载无需使用js初始化。</p>
      <div class="dy-components-demo inner">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <img data-src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/light-18.jpg"
                 class="radius-normal lazyload" alt="image large">
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<img data-src="" class="lazyload" alt="image large">' %}
            <pre class="prettyprint lang-html">
                      {{ blocks }}
                    </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>data-src</code></td>
                <td>图片路径</td>
              </tr>
              <tr>
                <td><code>class="lazyload"</code></td>
                <td>懒加载必须添加该类</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-item title-box">
      <h4 class="title inner">背景图片</h4>
      <p class="rules inner">也可以对背景图片进行懒加载</p>
      <div class="dy-components-demo inner">
        <div class="lazyload" data-bgset="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/light/light-17.jpg"
             style="width: 100%;height: 600px;background-size: cover;"></div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="lazyload" data-bgset=""></div>' %}
            <pre class="prettyprint lang-html">
                        {{ blocks }}
                      </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><code>data-bgset=""</code></td>
                <td>背景图片路径</td>
              </tr>
              <tr>
                <td><code>class="lazyload"</code></td>
                <td>图片懒加载必须有此类</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% block lazyLoad %}{% endblock %}
  </section>
  <section class="dy-components" id="images-generation">
    <h2 class="section-header inner">图片生成</h2>

    <div class="section-item title-box">
      <h4 class="title inner">基本使用</h4>
      <p class="rules inner">在开发阶段可使用图片生成占位符，快速调式。使用开源的 <a href="https://github.com/imsky/holder" target="_blank">holderjs</a>
        插件来生成，多个参数选项使用 <code>&</code> 链接。</p>
      <div class="dy-components-demo inner">
        <img src="holder.js/300x200">
        <img src="holder.js/300x200?random=yes">
        <img src="holder.js/300x200?bg=eee">
        <img src="holder.js/300x200?text=Hello world!">
        <img src="holder.js/300x200?bg=fff&text=Hello world!">
        <img src="holder.js/300x200?size=50">
        <img src="holder.js/300x200?align=left">
        <img src="holder.js/300x200?outline=yes">
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i> 开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<img src="holder.js/300x200">
<img src="holder.js/300x200?random=yes">
<img src="holder.js/300x200?bg=eee">
<img src="holder.js/300x200?text=Hello world!">
<img src="holder.js/300x200?size=50">
<img src="holder.js/300x200?align=left">
<img src="holder.js/300x200?outline=yes">' %}
            <pre class="prettyprint lang-html">
                      {{ blocks }}
                    </pre>
                  </div>
                  <div class="dy-components-desc">
                    <table class="table table-full">
                      <thead>
                      <tr>
                        <th>参数</th>
                        <th>说明</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><code>holder.js/300x200</code></td>
                        <td>生成300x200宽度的图片</td>
                      </tr>
                      <tr>
                        <td><code>holder.js/300x200?random=yes</code></td>
                        <td>随机主题</td>
                      </tr>
                      <tr>
                        <td><code>holder.js/300x200?bg=eee</code></td>
                        <td>自定义背景色</td>
                      </tr>
                      <tr>
                        <td><code>holder.js/300x200?text=Hello world!</code></td>
                        <td>自定义文字</td>
                      </tr>
                      <tr>
                        <td><code>holder.js/300x200?bg=fff&text=Hello world!</code></td>
                        <td>自定义文字和背景色</td>
                      </tr>
                      <tr>
                        <td><code>holder.js/300x200?size=50</code></td>
                        <td>自定义文本字体大小</td>
                      </tr>
                      <tr>
                        <td><code>holder.js/300x200?align=left</code></td>
                        <td>自定义文本位置 <code>left/right</code></td>
                      </tr>
                      <tr>
                        <td><code>holder.js/300x200?outline=yes</code></td>
                        <td>给图片添加线框</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
        </div>
      </div>
    </div>

    {% block imagesGeneration %}{% endblock %}
  </section>

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
