{# note: header.html.twig must be include in header block, the sub theme be able to override header #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">Icon Box</h1>
    <h5 class="title">Icon 图标区块</h5>
  </div>
</div>

<div class="panel panel-ui">
  {# start section #}
  <section class="dy-components" id="base-demo">
    <h2 class="section-header inner">基本实例</h2>
    {# start components #}
    <div class="section-item title-box">
      <h4 class="title inner">1.0</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="bg-white inside-tb">
          <div class="heading outside-tb inside-tb">
            <h2 class="title t-c outside-tb"><strong>Drupal开发专家，让您的应用快速落地</strong></h2>
            <div class="inner">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <div class="icon-box-1 outside-tb">
                    <div class="icon-box-inner outside-b">
                      <i class="icon icon-2x">&#xe001;</i>
                      <h4 class="title inner"><strong>移动应用</strong></h4>
                    </div>
                    <div class="icon-box-desc">
                      <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="icon-box-1 outside-tb">
                    <div class="icon-box-inner outside-b">
                      <i class="icon icon-2x">&#xe604;</i>
                      <h4 class="title inner"><strong>电子商务</strong></h4>
                    </div>
                    <div class="icon-box-desc">
                      <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="icon-box-1 outside-tb">
                    <div class="icon-box-inner outside-b">
                      <i class="icon icon-2x">&#xe610;</i>
                      <h4 class="title inner"><strong>高校信息化</strong></h4>
                    </div>
                    <div class="icon-box-desc">
                      <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks =  '
<div class="bg-white inside-tb">
  <div class="heading outside-tb inside-tb">
    <h2 class="title t-c outside-tb"><strong>Drupal开发专家，让您的应用快速落地</strong></h2>
    <div class="inner">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="icon-box-1 outside-tb">
            <div class="icon-box-inner outside-b">
              <i class="icon icon-2x">&#xe001;</i>
              <h4 class="title inner"><strong>移动应用</strong></h4>
            </div>
            <div class="icon-box-desc">
              <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="icon-box-1 outside-tb">
            <div class="icon-box-inner outside-b">
              <i class="icon icon-2x">&#xe604;</i>
              <h4 class="title inner"><strong>电子商务</strong></h4>
            </div>
            <div class="icon-box-desc">
              <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="icon-box-1 outside-tb">
            <div class="icon-box-inner outside-b">
              <i class="icon icon-2x">&#xe610;</i>
              <h4 class="title inner"><strong>高校信息化</strong></h4>
            </div>
            <div class="icon-box-desc">
              <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            ' %}
            <pre class="prettyprint lang-html">
              {{ blocks }}
              </pre>
          </div>
          <div class="dy-components-desc">
            <table class="table table-full">
              <thead>
              <tr>
                <th>Class</th>
                <th>说明</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <code>类名</code>
                </td>
                <td>描述</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {# end components #}

    {# start components #}
    <div class="section-item title-box">
      <h4 class="title inner">2.0</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="bg-lighter inside-tb">
          <div class="heading outside-tb inside-tb">
            <h2 class="title t-c outside-tb"><strong>Drupal开发专家，让您的应用快速落地</strong></h2>
            <div class="inner">
              <div class="row outside-tb">
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                  <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/media/macbook-03.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="icon-box-2 outside-tb">
                        <div class="icon-box-inner outside-b">
                          <i class="icon icon-2x">&#xe001;</i>
                          <h4 class="title inner"><strong>移动应用</strong></h4>
                        </div>
                        <div class="icon-box-desc t-l">
                          <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="icon-box-2 outside-tb">
                        <div class="icon-box-inner outside-b">
                          <i class="icon icon-2x">&#xe604;</i>
                          <h4 class="title inner"><strong>电子商务</strong></h4>
                        </div>
                        <div class="icon-box-desc t-l">
                          <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="icon-box-2 outside-tb">
                        <div class="icon-box-inner outside-b">
                          <i class="icon icon-2x">&#xe610;</i>
                          <h4 class="title inner"><strong>高校信息化</strong></h4>
                        </div>
                        <div class="icon-box-desc t-l">
                          <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="icon-box-2 outside-tb">
                        <div class="icon-box-inner outside-b">
                          <i class="icon icon-2x">&#xe642;</i>
                          <h4 class="title inner"><strong>在线教育</strong></h4>
                        </div>
                        <div class="icon-box-desc t-l">
                          <p>完整覆盖企业等多样化的学习方式，为您打造一流在线教育体验。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="bg-lighter inside-tb">
  <div class="heading outside-tb inside-tb">
    <h2 class="title t-c outside-tb"><strong>Drupal开发专家，让您的应用快速落地</strong></h2>
    <div class="inner">
      <div class="row outside-tb">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <img src="{{ base_path }}themes/custom/dyniva_ui/templates/ui/images/media/macbook-03.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="icon-box-2 outside-tb">
                <div class="icon-box-inner outside-b">
                  <i class="icon icon-2x">&#xe001;</i>
                  <h4 class="title inner"><strong>移动应用</strong></h4>
                </div>
                <div class="icon-box-desc t-l">
                  <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="icon-box-2 outside-tb">
                <div class="icon-box-inner outside-b">
                  <i class="icon icon-2x">&#xe604;</i>
                  <h4 class="title inner"><strong>电子商务</strong></h4>
                </div>
                <div class="icon-box-desc t-l">
                  <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="icon-box-2 outside-tb">
                <div class="icon-box-inner outside-b">
                  <i class="icon icon-2x">&#xe610;</i>
                  <h4 class="title inner"><strong>高校信息化</strong></h4>
                </div>
                <div class="icon-box-desc t-l">
                  <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="icon-box-2 outside-tb">
                <div class="icon-box-inner outside-b">
                  <i class="icon icon-2x">&#xe642;</i>
                  <h4 class="title inner"><strong>在线教育</strong></h4>
                </div>
                <div class="icon-box-desc t-l">
                  <p>完整覆盖企业等多样化的学习方式，为您打造一流在线教育体验。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>' %}
            <pre class="prettyprint lang-html">
              {{ blocks }}
            </pre>
          </div>
        </div>
      </div>
    </div>
    {# end components #}

    {# start components #}
    <div class="section-item title-box">
      <h4 class="title inner">3.0</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="bg-white inside-tb">
          <div class="outside-tb inside-tb">
            <div class="inner">
              <div class="row">
                <div class="col-xs-12 col-sm-3">
                  <div class="icon-box-2 outside-tb t-c">
                    <div class="icon-box-inner outside-b">
                      <i class="icon icon-2x">&#xe001;</i>
                      <h4 class="title"><strong>移动应用</strong></h4>
                    </div>
                    <div class="heading-line"></div>
                    <div class="icon-box-desc">
                      <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <div class="icon-box-2 outside-tb t-c">
                    <div class="icon-box-inner outside-b">
                      <i class="icon icon-2x">&#xe604;</i>
                      <h4 class="title"><strong>电子商务</strong></h4>
                    </div>
                    <div class="heading-line"></div>
                    <div class="icon-box-desc">
                      <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <div class="icon-box-2 outside-tb t-c">
                    <div class="icon-box-inner outside-b">
                      <i class="icon icon-2x">&#xe610;</i>
                      <h4 class="title"><strong>高校信息化</strong></h4>
                    </div>
                    <div class="heading-line"></div>
                    <div class="icon-box-desc">
                      <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <div class="icon-box-2 outside-tb t-c">
                    <div class="icon-box-inner outside-b">
                      <i class="icon icon-2x">&#xe642;</i>
                      <h4 class="title"><strong>在线教育</strong></h4>
                    </div>
                    <div class="heading-line"></div>
                    <div class="icon-box-desc">
                      <p>完整覆盖企业等多样化的学习方式，为您打造一流在线教育体验。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="bg-white inside-tb">
  <div class="outside-tb inside-tb">
    <div class="inner">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-2 outside-tb t-c">
            <div class="icon-box-inner outside-b">
              <i class="icon icon-2x">&#xe001;</i>
              <h4 class="title inner"><strong>移动应用</strong></h4>
            </div>
            <div class="heading-line"></div>
            <div class="icon-box-desc">
              <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-2 outside-tb t-c">
            <div class="icon-box-inner outside-b">
              <i class="icon icon-2x">&#xe604;</i>
              <h4 class="title inner"><strong>电子商务</strong></h4>
            </div>
            <div class="heading-line"></div>
            <div class="icon-box-desc">
              <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-2 outside-tb t-c">
            <div class="icon-box-inner outside-b">
              <i class="icon icon-2x">&#xe610;</i>
              <h4 class="title inner"><strong>高校信息化</strong></h4>
            </div>
            <div class="heading-line"></div>
            <div class="icon-box-desc">
              <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-2 outside-tb t-c">
            <div class="icon-box-inner outside-b">
              <i class="icon icon-2x">&#xe642;</i>
              <h4 class="title inner"><strong>在线教育</strong></h4>
            </div>
            <div class="heading-line"></div>
            <div class="icon-box-desc">
              <p>完整覆盖企业等多样化的学习方式，为您打造一流在线教育体验。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>' %}
            <pre class="prettyprint lang-html">
              {{ blocks }}
            </pre>
          </div>
        </div>
      </div>
    </div>
    {# end components #}

    {# start components #}
    <div class="section-item title-box">
      <h4 class="title inner">4.0</h4>
      <p class="rules inner"></p>
      <div class="dy-components-demo inner">
        <div class="bg-lighter inside">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="icon-box-3 outside-tb">
                <div class="icon-box-inner outside-b">
                  <div class="icon-box-media">
                    <i class="icon icon-2x">&#xe001;</i>
                  </div>
                  <div class="icon-box-content">
                    <h4 class="title"><strong>移动应用</strong></h4>
                    <div class="icon-box-desc">
                      <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="icon-box-3 outside-tb">
                <div class="icon-box-inner outside-b">
                  <div class="icon-box-media">
                    <i class="icon icon-2x">&#xe604;</i>
                  </div>
                  <div class="icon-box-content">
                    <h4 class="title"><strong>电子商务</strong></h4>
                    <div class="icon-box-desc">
                      <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="icon-box-3 outside-tb">
                <div class="icon-box-inner outside-b">
                  <div class="icon-box-media">
                    <i class="icon icon-2x">&#xe610;</i>
                  </div>
                  <div class="icon-box-content">
                    <h4 class="title"><strong>高校信息化</strong></h4>
                    <div class="icon-box-desc">
                      <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="icon-box-3 outside-tb">
                <div class="icon-box-inner outside-b">
                  <div class="icon-box-media">
                    <i class="icon icon-2x">&#xe642;</i>
                  </div>
                  <div class="icon-box-content">
                    <h4 class="title"><strong>在线教育</strong></h4>
                    <div class="icon-box-desc">
                      <p>完整覆盖企业等多样化的学习方式，为您打造一流在线教育体验。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dy-components-markup inner">
        <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false"
           aria-controls="collapseCode">
          <i class="icon">&#xe818;</i>
          开发说明
        </a>
        <div class="collapse">
          <div>
            {% set blocks = '
<div class="bg-lighter inside-tb">
  <div class="outside-tb inside-tb">
    <div class="inner">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-3 outside-tb">
            <div class="icon-box-inner outside-b">
              <div class="icon-box-media">
                <i class="icon icon-2x">&#xe001;</i>
              </div>
              <div class="icon-box-content">
                <h4 class="title inner"><strong>移动应用</strong></h4>
                <div class="icon-box-desc">
                  <p>移动平台网页，手机App，微信应用或者小程序，我们都可以帮您实现。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-3 outside-tb">
            <div class="icon-box-inner outside-b">
              <div class="icon-box-media">
                <i class="icon icon-2x">&#xe604;</i>
              </div>
              <div class="icon-box-content">
                <h4 class="title inner"><strong>电子商务</strong></h4>
                <div class="icon-box-desc">
                  <p>为您提供Drupal电子商务解决方案，开启网上销售和购物新体验。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-3 outside-tb">
            <div class="icon-box-inner outside-b">
              <div class="icon-box-media">
                <i class="icon icon-2x">&#xe610;</i>
              </div>
              <div class="icon-box-content">
                <h4 class="title inner"><strong>高校信息化</strong></h4>
                <div class="icon-box-desc">
                  <p>协助您驾驭Drupal的优势，管理数以百计的校园网站，促成学术创新。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-box-3 outside-tb">
            <div class="icon-box-inner outside-b">
              <div class="icon-box-media">
                <i class="icon icon-2x">&#xe642;</i>
              </div>
              <div class="icon-box-content">
                <h4 class="title inner"><strong>在线教育</strong></h4>
                <div class="icon-box-desc">
                  <p>完整覆盖企业等多样化的学习方式，为您打造一流在线教育体验。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>' %}
            <pre class="prettyprint lang-html">
                {{ blocks }}
            </pre>
          </div>
        </div>
      </div>
    </div>
    {# end components #}

    {% block baseDemo %}{% endblock %}
  </section>
  {# end section #}

  {% block section %}{% endblock %}
</div>

{# note: ui-footer.html.twig must be include in footer block, the sub theme be able to override footer #}
{% block footer %}
  {% include directory ~ '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
