{#
/**
 * - extends base theme components body
 * - custom sub theme header, also can add new components
 */
#}

{# override base theme header,logo,menu links #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="inner">
    <h1 class="page-title">头条</h1>
    <h5 class="title">头条是用户看到第一个最重要的页面组件，通常包含大标题、描述和大背景图。</h5>
  </div>
</div>

<div class="panel panel-ui">
  {% for section in [
    {
      id: 'hero',
      title: '头条',
      items: [
        {
          id: 'dy-hero-1-0',
          title: '头条 1.0',
          rule: '视频和文字描述',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-1-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-1',
              text: '头条 v1 组件的类'
            },
            {
              code: '.dy-hero-content',
              text: '头条 v1 组件内容'
            },
          ]
        },
        {
          id: 'dy-hero-2-0',
          title: '头条 2.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-2-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-2',
              text: '头条 v2 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v2 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-3-0',
          title: '头条 3.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-3-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-3',
              text: '头条 v3 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v3 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-4-0',
          title: '头条 4.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-4-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-4',
              text: '头条 v4 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v4 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-5-0',
          title: '头条 5.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-5-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-5',
              text: '头条 v5 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v5 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-6-0',
          title: '头条 6.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-6-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-6',
              text: '头条 v6 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v6 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-7-0',
          title: '头条 7.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-7-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-7',
              text: '头条 v7 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v7 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-8-0',
          title: '头条 8.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-8-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-8',
              text: '头条 v8 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v8 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-9-0',
          title: '头条 9.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-9-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-9',
              text: '头条 v9 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v9 文本内容'
            },
          ]
        },
        {
          id: 'dy-hero-10-0',
          title: '头条 10.0',
          rule: '',
          demoClass: 'inner',
          libraries: [],
          templates: [
            {
              url: '/hero/dy-hero-10-0.html.twig',
              gridClass: 'col-xs-12',
              param: {}
            }
          ],
          descs: [
            {
              code: '.dy-hero-wrapper',
              text: '头条组件通用类'
            },
            {
              code: '.dy-hero-10',
              text: '头条 v10 组件的类'
            },
            {
              code: '.dy-hero-text',
              text: '头条 v10 文本内容'
            },
          ]
        },
      ]
    },
  ] %}
    <section class="dy-components" id="{{ section.id }}">
      <h2 class="section-header inner">{{ section.title }}</h2>
      {% for item in section.items %}
        <div class="section-item title-box" id="{{ item.id }}">
          {% if item.title %}
            <h4 class="title inner">{{ item.title }}</h4>
          {% endif %}
          {% if item.rule %}
            <p class="rules inner">{{ item.rule }}</p>
          {% endif %}

          <div class="dy-components-demo {{ item.demoClass }}">
            <div class="{{ rowClass | default('row') }}">
              {% for template in item.templates %}
                <div class="{{ template.gridClass | default('col-xs-12') }}">
                  {{ include('@dyniva_ui/ui/modules' ~ template.url, template.param ? template.param : {}) }}
                </div>
                {% if template.spacer %}
                  <div class="spacer-{{ spacer }}"></div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="dy-components-markup inner">
            <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseCode">
              <i class="icon">&#xe818;</i>开发说明
            </a>
            <div class="collapse">
              {% if item.descs %}
                <div class="code-description">
                  <table class="table table-full">
                    <thead>
                      <tr>
                        <th>Class</th>
                        <th>说明</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for desc in item.descs %}
                      <tr>
                        <td><code>{{ desc.code }}</code></td>
                        <td>{{ desc.text }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}

              <div class="code-preview">
                <pre class="prettyprint lang-html">
                  {%- for library in item.libraries ~%}
                    {{~ "{{ attach_library('"~library~"') }}" ~}}
                  {%- endfor ~%}

                  {%- for template in item.templates ~%}

                    {{~ include('@dyniva_ui/ui/modules' ~ template.url, template.param ? template.param : {}) | escape ~}}
                  {%- endfor ~%}
                </pre>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  {% endfor %}

  {# sub theme components extend here dont remove section block #}
  {% block dyniva_ui_section %}{% endblock %}
</div>

{# override base theme footer #}
{% block footer %}
  {% include '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
