{#
/**
 * - extends base theme components body
 * - custom sub theme header, also can add new components
 */
#}

{# override base theme header,logo,menu links #}
{% block header %}
  {% include '@dyniva_ui/ui/pages/header.html.twig' %}
{% endblock %}

<div id="wall" class="page-title promo">
  <div class="dy-components-demo inner">
    <h1 class="page-title">相册</h1>
    <h5 class="title">常用的一些多个图片展示</h5>
  </div>
</div>

<div class="panel panel-ui">
  {% for section in [
    {
      id: 'masonry',
      title: '瀑布流相册',
      items: [
        {
          id: 'dy-photo-1-0',
          title: '相册 1.0',
          rule: '瀑布流相册',
          demoClass: 'inner',
          libraries: [ 
            'dyniva_ui/masonry',
            'dyniva_ui/bbModal',
          ],
          templates: [
            {
              url: '/photo/dy-photo-1-0.html.twig',
              gridClass: 'col-xs-12',
              param: { module_params: true }
            }
          ],
          descs: [
            {
              code: '.dy-photo-1-0',
              text: '相册1.0'
            },
            {
              code: '.masonry-container',
              text: '瀑布流容器'
            },
            {
              code: '[data-masonry]',
              text: '瀑布流配置项'
            },
          ]
        },
      ]
    },
  ] %}
    <section class="dy-components" id="{{ section.id }}">
      <h2 class="section-header inner">{{ section.title }}</h2>
      {% for item in section.items %}
        <div class="section-item title-box" id="{{ item.id }}">
          {% if item.title %}
            <h4 class="title inner">{{ item.title }}</h4>
          {% endif %}
          {% if item.rule %}
            <p class="rules inner">{{ item.rule }}</p>
          {% endif %}

          <div class="dy-components-demo overflow-hidden {{ item.demoClass }}">
            <div class="row">
              {% for template in item.templates %}
                {% if template.spacer %}
                  <div class="spacer-{{ spacer }}"></div>
                {% endif %}
                <div class="col-xs-12 {{ template.gridClass }}">
                  {{ include('@dyniva_ui/ui/modules' ~ template.url, template.param ? template.param : {}) }}
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="dy-components-markup inner">
            <a class="btn btn-primary expand-code collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseCode">
              <i class="icon">&#xe818;</i>开发说明
            </a>
            <div class="collapse">
              {% if item.descs %}
                <div class="code-description">
                  <table class="table table-full">
                    <thead>
                      <tr>
                        <th>Class</th>
                        <th>说明</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for desc in item.descs %}
                      <tr>
                        <td><code>{{ desc.code }}</code></td>
                        <td>{{ desc.text }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}

              <div class="code-preview">
                <pre class="prettyprint lang-html">
                  {%- for library in item.libraries ~%}
                    {{~ "{{ attach_library('"~library~"') }}" ~}}
                  {%- endfor ~%}

                  {%- for template in item.templates ~%}

                    {{~ include('@dyniva_ui/ui/modules' ~ template.url, template.param ? template.param : {}) | escape ~}}
                  {%- endfor ~%}
                </pre>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  {% endfor %}

  {# sub theme components extend here dont remove section block #}
  {% block dyniva_ui_section %}{% endblock %}
</div>

{# override base theme footer #}
{% block footer %}
  {% include '@dyniva_ui/ui/pages/ui-footer.html.twig' %}
{% endblock %}
