{# Content #}
{{ "{% if page.content %}" }}
  {{ "{% if content_class is  empty %}" }}
    <div class="inner">
      {{ "{% endif %}" }}
        {{ "{{ page.content }}" }}
      {{ "{% if content_class is  empty %}" }}
    </div>
  {{ "{% endif %}" }}
{{ "{% endif %}" }}
