{{- attach_library('dyniva_ui/module.masonry') -}}
{{- attach_library('dyniva_ui/common.bbModal') -}}

<div class="dy-photo-1-0 masonry"
     data-masonry-container=".masonry-container"
     data-masonry-options='{ "itemSelector": ".masonry-item", "transitionDuration": "0.3s"}'
>
  <div class="inner">
    <div class="masonry-container">
      {%- for item in [
        {image: theme~'/templates/ui/images/media/showcase3-0.png', alt:''},
        {image: theme~'/templates/ui/images/media/showcase3-1.png', alt:''},
        {image: theme~'/templates/ui/images/media/showcase3-1.png', alt:''},
        {image: theme~'/templates/ui/images/media/showcase3-0.png', alt:''},
        {image: theme~'/templates/ui/images/media/showcase3-1.png', alt:''},
        {image: theme~'/templates/ui/images/media/showcase3-0.png', alt:''},
        {image: theme~'/templates/ui/images/media/showcase3-1.png', alt:''},
        {image: theme~'/templates/ui/images/media/showcase3-0.png', alt:''}
      ] ~%}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
          <a data-toggle="modal"
            data-mode="html"
            data-selector=".masonry-item-modal-{{ loop.index }}"
          >
            <img src="{{ item.image }}" alt="{{ item.alt }}">
          </a>
          <div class="hidden masonry-item-modal-{{ loop.index }}">
            <img src="{{ item.image }}" alt="{{ item.alt }}">
            <div>
              selector : .masonry-item-modal-{{ loop.index }}
            </div>
          </div>
        </div>
      {%- endfor ~%}
    </div>
    <div class="masonry-more t-c inside-min-tb">
      <a class="d_ib underline-hover" href="javascript:void(0);">
        加载更多
        <i class="icon icon-down"></i>
      </a>
    </div>
  </div>
</div>
